<div class='btn-group' style='width:48%'>
  <%= button_tag type: :submit, class: 'btn btn-lg btn-special dark pull-left', style: 'width:80%;' do %>
    <i class='fa fa-search fa-lg pull-left'></i>Search
  <% end %>
  <button type='button' class='btn btn-lg btn-special dark pull-left dropdown-toggle', style='width:20%;', data-toggle='dropdown' aria-expanded='false'>
    <span class='caret'></span>
    <span class='sr-only'>Profiles Dropdown</span>
  </button>
  
  <ul class='dropdown-menu' style='min-width:100%;' role='menu'>
    <% if current_user.user_profiles.any? %>
      <li><a href="#">Choose a profile as the basis for your search...</a></li>
      <li class="divider"></li>
      <% current_user.user_profiles.each do |profile| %>
        <li><a href='#' class='profile-search-link' data-profile-id='<%= profile.id %>'><%= render partial: 'shared/profile_type_label', locals: { profile_type: profile.type, profile_text: profile.profile_name } %></a></li>
      <% end %>
    <% else %>
      <li><a href="#">You have no profiles defined...</a></li>
      <li class="divider"></li>
      <li><%= link_to 'Create a profile', new_profile_path, style: 'color:#00c;text-decoration:underline;' %></li>
    <% end %>
  </ul>
</div>