<%
html_tag = local_assigns.fetch(:html_tag, :p)
css_class = local_assigns.fetch(:css_class, 'form-control-static col-lg-10')
fa_icon = local_assigns.fetch(:fa_icon, 'fa-lock')
label = local_assigns.fetch(:label, '?')
%>

<%= content_tag html_tag, class: css_class do %>
  <%= content_tag :i, nil, class: "fa #{fa_icon} fa-lg pull-left" do %>
    &nbsp;<%= label %>&nbsp;<a tabindex='0' role="button" class='anonymous-popover' style='font-size:initial;' data-toggle='popover' data-trigger='focus' title='Information Unavailable' data-content='This information is only available to connected user.'><%= content_tag :i, nil, class: 'fa fa-question-circle', style: 'font-size:100%;color:#3399ff;' %></a>
  <% end %>
<% end %>