<%
size = local_assigns.fetch(:size, :large)
display = local_assigns.fetch(:display, :inline)
%>

<span class='realcruiter-com-<%=size.to_s%>' style='display:<%=display.to_s%>;'>
  <%= link_to root_path, style: 'text-decoration:none;', alt: 'Realcruiter.com' do %>
  	<span class='real'>Real</span><span class='cruiter'>cruiter.com</span>
	<% end %>
</span>