<%
display = local_assigns.fetch(:display, :block)
%>

<span class='realcruiter-community' style='display:<%=display.to_s%>;'>
  <span class='realcruiter'><span class='real'>Real</span><span class='cruiter'>cruiter</span></span><span class='community'><span class='com'>.com</span><span class='munity'>munity</span></span>
</span>