<div class='container-fluid'>
  <div class='row'>
    <div class='col-lg-12'>
      <%= button_to 'Log out', destroy_user_session_path, class: 'btn btn-lg btn-special pull-right', method: :delete %>
    </div>
  </div>
</div>