<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-10'>
    </div>
    <div class='col-sm-2'>
      <%= button_to 'Log out', destroy_user_session_path, class: 'btn btn-warning', method: :delete %>
    </div>
  </div>
</div>