<% if !user_signed_in? %>
  <% content_for :right_header do %>
    <div class='container form-inline'>
      <%= render partial: 'shared/registration/sign_in' %>
    </div>
  <% end %>
<% end %>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="jumbotron" style='height:425px;background-image:url(<%= image_path("men-at-table.jpg") %>);background-repeat:no-repeat'></div>
    </div>
  </div>

  <div class='row'>
    <div class="col-md-4 col-md-offset-4 panel panel-default">
      <div class="pull-left">
        <h4>Are you new? <span>Sign up!</span></h4>
      </div>
      <div class="clearfix"></div>
      <hr />
      <%= render partial: 'shared/registration/sign_up' %>
    </div>
  </div>
    
  <div class='row'>
    <div class='col-md-12'>
      <div class='realcruiter-community' style='border-radius:6px;padding:25px;background:rgb(255,153,0);background:rgba(255,153,0,1);'>
        <div class='you-need-the'>You need the</div>
        <div>
          <div class='realcruiter'>
            <span class='real'>Real</span><span class='cruiter'>cruiter</span>
          </div>
          <div class='community'>
            <span class='com'>.com</span><span class='munity'>munity</span>
          </div>
          <div style='margin-top:3em;'><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></div>
        </div>
      </div>
    </div>
  </div>

</div>