<% content_for :head do %>
  <%= javascript_include_tag 'signup', 'data-turbolinks-track' => true %>
<% end %>

<% if !user_signed_in? %>
  <% content_for :right_header do %>
    <div class='container form-inline'>
      <%= render partial: 'shared/sign_in' %>
    </div>
  <% end %>
<% end %>


<div style='padding-left:50px;'>
  <div class="row">
    <div class="col-md-4 panel panel-default">
      <div class="pull-left">
        <h4>Are you new? <span>Sign up!</span></h4>
      </div>
      <div class="clearfix"></div>
      <hr />
      <%= render partial: 'shared/sign_up' %>
    </div>

    <div class='col-md-8'>
      <div class="jumbotron">
        <h1>You need the</h1>
        <p>RealCruiter</p>
        <p>.community</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>

