@import 'mixins';

$base-font-size: 1.0em;
$default-color: #333;

body {
  margin: 8px;
  color: $default-color;
}

/* Realcruiter.com large */
.realcruiter-com-large {
  font-size: ($base-font-size * 2) * $golden-ratio;

  .real {  
    font-weight: bold;
    color: $default-orange;
  }

  .cruiter {   
    color: #000;
  }
}

/* Realcruiter.com large dark */
.realcruiter-com-large-dark {
  @extend .realcruiter-com-large;

  .real {  
    font-weight: bold;
    color: $default-orange-dark;
  }
}

/* Realcruiter.com medium */
.realcruiter-com-medium {
  @extend .realcruiter-com-large;

  font-size: ($base-font-size * 1.25) * $golden-ratio;
}

/* Realcruiter.com normal */
.realcruiter-com-normal {
  @extend .realcruiter-com-large;

  font-size: $base-font-size;
}

/* Realcruiter.com official quote */
.realcruiter-quote {
  font-size: $base-font-size * $golden-ratio;
  font-style: italic;
}

/* 
  Realcruiter
  .community 
*/
.realcruiter-community {
  $adjust-font-size: 1.5;

  text-align: right;

  .you-need-the {
    font-size: ($base-font-size * 1.25) * $golden-ratio;
    color: $default-orange-dark;
  }

  .realcruiter {
    line-height: .90;
    font-size: ($adjust-font-size * ($base-font-size * 2)) * $golden-ratio;
    
    .real {  
      font-weight: bold;
      color: $default-orange-dark;
    }

    .cruiter {   
      color: #000;
    }
  }

  .community {
    line-height: .90;
    font-size: ($adjust-font-size * ($base-font-size * 2)) * $golden-ratio;   

    .com {  
      font-weight: bold;
      color: #000;
    }

    .munity {   
      color: $default-orange-dark;
    }
  }
}

a.underline {
  text-decoration: underline;
}

/* When you want a Realcruiter.com "orange" button */
input.special-button {
  background-color: $default-orange;
}

.terms-agreements {
  color: #999 !important;
}

.nowrap {
  white-space: nowrap;
}

/* Alerts and notices */
.alert-header {
  font-size: ($base-font-size * 0.825) * $golden-ratio;
  font-weight: bold;
}

.alert-message {
  font-size: ($base-font-size * 0.825) * $golden-ratio;
}

.flip-horizontal {
   -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}