<p>Greetings <%= @resource.first_name %>,</p>

<p>We're sorry.</p>

<p>Your request to connect has been rejected, but don't worry; you can always try again!</p>

<p>You may visit the Realcruiter.com search page by clicking the below link:</p>

<p><%= link_to 'Click here to view the Realcruiter.com search page', search_url %></p>

<br />
<strong>Having trouble?</strong>
<p>If for any reason the above link does not work, simply copy &amp; paste the below link into your browser's address bar:</p>

<p><%= search_url %></p>