<div class='container'>
  <div class='row'>
    <div class='panel panel-default' style='margin:15px;'>
      <div class='panel-heading'>
        <h3 class='panel-title'>Connections</h3>
      </div>
      <div class='panel-body'>

       <%= render partial: 'shared/dashboard/connections_grid', object: connect_requests, as: :connect_requests %>

      </div> 
    </div> <!-- panel /-->
  </div>
</div>